:root {
  background-color: #696969;
  color: white;
  font-size: calc(10px + 2vmin);
}

.pong{
  margin:10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #09d3ac;
}
code {
  background-color: black
}